* {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
}

.container {
    display: grid;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

.squares {
    border: 0.5px solid black;
}

.nocolor {
    background-color: blue;
}